<div class="login__wrapper d-flex flex-column align-items-center m-0 min-vh-100">
  <h1 class="signup-title game-played animate__animated animate__backInDown display-6 text-white text-center mt-5 p-0">
    Change Password
  </h1>
  <div class="form__wrapper col-10 col-md-6 col-xl-3 my-5 py-5 d-flex flex-column align-items-center">
    <form (ngSubmit)="onSubmit(passwordInput.inputModel, passwordAgainInput.inputModel)" class="default-form w-100 animate__animated animate__fadeInUp animate__faster"> <!-- (ngSubmit)="onSubmit()"-->
      <div class="form-group">
        <!-- <input class="form-control" name="password" type="password" required
        (focus)="passwordFocusToggler($event)" (blur)="passwordFocusToggler($event)">
        <label class="form-label" [class]="passwordClass">New password</label> -->
        <app-floating-label-input
          #passwordInput
          [(inputModel)]="password"
          [type]="'password'"
          [name]="'password'"
          [labelContent]="'Password'"
          [pattern]="'^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{4,30}$'"
          [validGuide]="'Lower case, upper case letter & digit!'"
          (isValidEvent)="getValidationData($event)"
        ></app-floating-label-input>

      </div>
      <div class="form-group">
        <!-- <input class="form-control" name="password" type="password" required
        (focus)="passwordAgainFocusToggler($event)" (blur)="passwordAgainFocusToggler($event)">
        <label class="form-label" [class]="passwordAgainClass">Re-enter password</label> -->
        <app-floating-label-input
          #passwordAgainInput
          [(inputModel)]="passwordAgain"
          [type]="'password'"
          [name]="'password-again'"
          [labelContent]="'Password again'"
          [pattern]="'^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{4,30}$'"
          [validGuide]="'Two passwords must be the same!'"
          (isValidEvent)="getValidationData($event)"
          [firstPassword]="passwordInput.inputModel"
        ></app-floating-label-input>

      </div>

      <div class="d-flex flex-column">
        <small class="no-acc mt-2">Password must contain one lowercase letter,<br> one number, and be atleast 6 characters long.</small>
      </div>
      <button type="submit" class="game-played btn btn-info col-12 my-4"
        [disabled]="!(passwordInput.isValid && passwordInput.inputModel==passwordAgainInput.inputModel)">
        Submit
      </button>
    </form>
  </div>
</div>
