@use '../../../styles.scss'as styles;

.page__wrapper {
  overflow: hidden;
}

.form__wrapper {
  max-width: 280px;
}

@media screen and (min-width: 767px) {
  .form__wrapper {
    max-width: 340px;
  }

}
