@use '../../../styles.scss' as styles;

.login__wrapper {
  overflow: hidden;
}

.form {
  &-group {
    font-family: verdana;
    font-size: small;
    margin: 1rem 0;
    position: relative;

    &+.form-group {
      margin-top: 30px;
    }
  }

  &-control {
    position: relative;
    padding: 6px 10px;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid styles.$theme;
    transition: box-shadow 0.3s ease-out;
    z-index: 1;
    color: styles.$white;


    &:active,
    &:focus,
    &:target {
      background: transparent;
      border: none;
      border-bottom: 1px solid styles.$theme;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
    }

    &:focus {
      box-shadow: 0 6px 7px -7px styles.$theme;
    }

    &:-webkit-autofill {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: styles.$white;
    }
  }

  &-label {
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 0.5rem;
    color: styles.$gray;
    transition: transform 0.3s ease-out, font-size 0.3s ease-out;
  }
}

.focused {
  transform: translateY(-145%);
  font-size: .75em;
  color: styles.$white;
}

.no-acc {
  color: styles.$gray;

  & a {
    text-decoration: none;
    color: #ddd;
    &:hover {
      color: styles.$theme;
    }
  }
}
