<div class="login__wrapper d-flex flex-column align-items-center m-0 min-vh-100">
  <h1 class="signup-title game-played animate__animated animate__backInDown text-white text-center mt-5 p-0">It's nice to see you again!</h1>
  <div class="login col-10 col-md-6 col-xl-3 my-5 p-5">
    <form class="default-form animate__animated animate__fadeInUp animate__faster">
      <div class="form-group">
        <!-- <input class="form-control e-mail" name="email" type="email" (focus)="emailFocusToggler($event)" (blur)="emailFocusToggler($event)">
        <label class="form-label" [class]="emailClass">E-mail</label> -->
        <app-floating-label-input
          #usernameInput
          [(inputModel)]="username"
          [type]="'text'"
          [name]="'username'"
          [labelContent]="'Username'"
        ></app-floating-label-input>
      </div>
      <div class="form-group">
        <!-- <input class="form-control" name="password" type="password" (focus)="passwordFocusToggler($event)" (blur)="passwordFocusToggler($event)">
        <label class="form-label" [class]="passwordClass">Password</label> -->
        <app-floating-label-input
          #passwordInput
          [(inputModel)]="password"
          [type]="'password'"
          [name]="'password'"
          [labelContent]="'Password'"
        ></app-floating-label-input>
      </div>
      <div class="d-flex flex-column">
        <small class="no-acc mt-2">Forgot password? <a [routerLink]="['/forgot-password']">Click here!</a></small>
        <small class="no-acc mt-2">Don't have an account yet? <a [routerLink]="['/signup']">Sign up!</a></small>
      </div>
      <button type="submit" class="game-played btn btn-info col-12 my-4">Login</button>
    </form>
  </div>
</div>


<div [popper]="popper1Content"
  [popperShowOnStart]="true"
  [popperTrigger]="'click'"
  [popperHideOnClickOutside]="true"
  [popperHideOnScroll]="true"
  [popperPlacement]="'bottom'">
  <p class="bold">Hey!</p>
  <p class="thin">Choose where to put your popper!</p>         
</div>
<popper-content #popper1Content>
  <p class="bold">Popper on bottom</p>
</popper-content>