<div class="login__wrapper d-flex flex-column align-items-center m-0 min-vh-100">
  <h1 class="signup-title game-played animate__animated animate__backInDown text-white text-center mt-5 p-0">It's nice to see you again!</h1>
  <div class="login col-10 col-md-6 col-xl-3 my-5 p-5">
    <form class="animate__animated animate__fadeInUp animate__faster">
    <!-- <form (ngSubmit)="onLogin()"> -->
      <div class="form-group">
        <input class="form-control e-mail" name="email" type="email" (focus)="emailFocusToggler($event)" (blur)="emailFocusToggler($event)">
        <label class="form-label" [class]="emailClass">E-mail</label>
        <!-- <label class="form-label" [class]="isRed" *ngIf="focus.focus()">E-mail</label> -->
        <!-- <input class="form-control" name="email" [(ngModel)]="loginData.email" type="email"> -->
      </div>
      <div class="form-group">
        <input class="form-control" name="password" type="password" (focus)="passwordFocusToggler($event)" (blur)="passwordFocusToggler($event)">
        <label class="form-label" [class]="passwordClass">Password</label>
        <!-- <input class="form-control" name="password" [(ngModel)]="loginData.password" type="password"> -->
      </div>
      <small class="no-acc">Don't have an account yet? <a [routerLink]="['/signup']">Sign up!</a></small>
      <button type="submit" class="game-played btn btn-info col-12 my-4">Login</button>
    </form>
  </div>
</div>
