.btn {
  font-family: game-played;
}

.form {
  &-group {
    font-family: verdana;
    font-size: small;
    margin: 1rem 0;
    position: relative;

    &+.form-group {
      margin-top: 30px;
    }
  }

  &-control {
    position: relative;
    padding: 6px 10px;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid aqua;
    transition: box-shadow 0.3s ease-out;

    &:active,
    &:focus,
    &:target {
      background: transparent;
      border: none;
      border-bottom: 1px solid aqua;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
    }

    &:focus {
      box-shadow: 0 6px 7px -7px aqua;
    }

    &:-webkit-autofill {
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  &-label {
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 0.6rem;
    color: #999;
    z-index: -1;
    transition: transform 0.3s ease-out, font-size 0.3s ease-out;
  }
}

.focused {
  transform: translateY(-145%);
  font-size: .75em;
  color: black;
}
