<div class="login__wrapper d-flex flex-column align-items-center m-0 min-vh-100">
  <h1 class="signup-title game-played animate__animated animate__backInDown text-white text-center mt-5 p-0">It's nice to see you again!</h1>
  <div class="login col-10 col-md-6 col-xl-3 my-5 p-5">
    <form (ngSubmit)="login(usernameInput.inputModel, passwordInput.inputModel)" class="default-form animate__animated animate__fadeInUp animate__faster">
      <div class="form-group">
        <app-floating-label-input
          #usernameInput
          [(inputModel)]="username"
          [type]="'text'"
          [name]="'username'"
          [labelContent]="'Username'"
          [inputId]="'selenium__login__username'"
        ></app-floating-label-input>
      </div>
      <div class="form-group">
        <app-floating-label-input
          #passwordInput
          [(inputModel)]="password"
          [type]="'password'"
          [name]="'password'"
          [labelContent]="'Password'"
          [inputId]="'selenium__login__password'"
        ></app-floating-label-input>
      </div>
      <div class="d-flex flex-column">
        <small class="no-acc mt-2">Forgot password? <a [routerLink]="['/forgot-password']">Click here!</a></small>
        <small class="no-acc mt-2">Don't have an account yet? <a [routerLink]="['/signup']">Sign up!</a></small>
      </div>
      <button type="submit" class="game-played btn btn-info col-12 my-4" id="selenium__login__submit">Login</button>
    </form>
  </div>
</div>
