@use '../../../styles.scss' as styles;

.form {
    &-control {
        position: relative;
        padding: 6px 10px;
        background: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        box-sizing: border-box;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid styles.$theme;
        transition: box-shadow 0.3s ease-out;
        z-index: 1;
        color: styles.$white;

        &:active,
        &:focus,
        &:target {
            background: transparent;
            border: none;
            border-bottom: 1px solid styles.$theme;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
        }

        &:focus {
            box-shadow: 0 6px 7px -7px styles.$theme;
        }

        &:-webkit-autofill {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: styles.$white;
        }

        &:disabled {
            color: styles.$gray;
        }
    }

    &-label {
        padding: 0 10px;
        position: absolute;
        left: 0;
        top: 0.5rem;
        color: styles.$white;
        transition: transform 0.3s ease-out, font-size 0.3s ease-out;
    }
}

.focused {
    transform: translateY(-145%);
    font-size: .75em;
    color: styles.$gray;
}

.validation__warning {
    border: 2px solid darkred;
    border-radius: 0.2rem;
    color: red;
    // padding: 0 0.2rem;
    padding: 0 0.2rem;
    // margin-bottom: 0.1rem;
    // position: absolute;
    // right: 0;
    // top: 0.5rem;
}

.color__input {
    height: 36.8px;
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}
