@use '../../../styles.scss' as styles;

.form {
    &-control {
        position: relative;
        padding: 6px 10px;
        background: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        box-sizing: border-box;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid styles.$theme;
        transition: box-shadow 0.3s ease-out;
        z-index: 1;
        color: styles.$white;

        &:active,
        &:focus,
        &:target {
            background: transparent;
            border: none;
            border-bottom: 1px solid styles.$theme;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
        }

        &:focus {
            box-shadow: 0 6px 7px -7px styles.$theme;
        }

        &:-webkit-autofill {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: styles.$white;
        }

        &:disabled {
            color: styles.$gray;
        }
    }

    &-label {
        padding: 0 10px;
        position: absolute;
        left: 0;
        top: 0.5rem;
        color: styles.$white;
        transition: transform 0.3s ease-out, font-size 0.3s ease-out;

        & sup {
          color: styles.$red;
          margin-left: 2px;
        }
    }
}

.focused {
    transform: translateY(-145%);
    font-size: .75em;
    color: styles.$gray;
}

.color__input {
    height: 36.8px;
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.validation__warning {
  color: styles.$red;
}

.val-tooltip {
  position: fixed;
  color: #ffffff;
  background-color: styles.$red;
  border: 1px solid styles.$red;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 13px;
  margin-top: 7px;
  transform: translateX(0px);
  z-index: 2;
  animation: fadeInAnimation ease 0.5s;

  &::before {
      content: '';
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid styles.$red;
      position: absolute;
      left: calc(10px);
      animation: fadeUpAnimation ease 0.6s;
      top: -6px;
    }
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeUpAnimation {
    0% {
      top: 0px;
    }
    100% {
      top: -6px;
  }
}
