<!-- <div class="toaster">
  <div class="toast-icon" [class]="options.toastClass">
    <fa-icon class="text-center" [icon]="faCheck"></fa-icon>
  </div>
  <div class="toast-details">
    <div>
      <div
        *ngIf="title"
        [class]="options.titleClass"
        [attr.aria-label]="title"
        class="custom-title">
        {{ title }}
      </div>
      <div
        *ngIf="message && options.enableHtml"
        role="alert"
        aria-live="polite"
        class="custom-message"
        [class]="options.messageClass"
        [innerHTML]="message"
      ></div>
      <div
        *ngIf="message && !options.enableHtml"
        role="alert"
        aria-live="polite"
        class="custom-message"
        [class]="options.messageClass"
        [attr.aria-label]="message">
        {{ message }}
      </div>
    </div>
  </div>
  <div class="close-icon">
    <a
      *ngIf="options.closeButton"
      (click)="remove()"
      class="toast-close-button">
      &times;
    </a>
  </div>
</div>
<div *ngIf="options.progressBar">
  <div class="toast-progress" [style.width]="width + '%'"></div>
</div> -->


<div #toastr [@flyInOut]="{ value: isActive, params: {translateType: getAnimationTransformValue() }}"
  class="toaster" [class]="options.toastClass">
  <div class="toast-line toast-color"></div>
  <div class="toast-details">
    {{ getAnimationTransformValue() }}
    <div *ngIf="options.toastClass=='custom-toast-success'" class="toast-icon-container">
      <fa-icon class="text-center" [icon]="faCircleCheck"></fa-icon>
    </div>
    <div *ngIf="options.toastClass=='custom-toast-warning'" class="toast-icon-container">
      <fa-icon class="text-center" [icon]="faCircleExclamation"></fa-icon>
    </div>
    <div *ngIf="options.toastClass=='custom-toast-danger'" class="toast-icon-container">
      <fa-icon class="text-center" [icon]="faCircleXmark"></fa-icon>
    </div>
    <div *ngIf="options.toastClass=='custom-toast-info'" class="toast-icon-container">
      <fa-icon class="text-center" [icon]="faCircleInfo"></fa-icon>
    </div>
    <div class="col-12">
      <div
        *ngIf="title"
        [class]="options.titleClass"
        [attr.aria-label]="title"
        class="custom-title">
        {{ title }}
      </div>
      <div
        *ngIf="message && options.enableHtml"
        role="alert"
        aria-live="polite"
        class="custom-message"
        [class]="options.messageClass"
        [innerHTML]="message"
      ></div>
      <div
        *ngIf="message && !options.enableHtml"
        role="alert"
        aria-live="polite"
        class="custom-message"
        [class]="options.messageClass"
        [attr.aria-label]="message">
        {{ message }}
      </div>
    </div>
  </div>
  <div class="custom-close-icon ms-auto me-3 my-auto">
    <a
      *ngIf="options.closeButton"
      (click)="remove()"
      class="custom-toast-close-button">
      <fa-icon class="text-center" [icon]="faXmark"></fa-icon>
    </a>
  </div>
</div>
<div *ngIf="options.progressBar">
  <div class="toast-progress" [style.width]="width + '%'"></div>
</div>
