@use '../../../styles'as styles;

::ng-deep .toast-container {
  pointer-events: none;
  z-index: 999999;
}

::ng-deep .toast-top-right {
  top: 80px;
  right: 60px;
}

:host {
  position: relative;
  overflow: hidden;
  color: #000;
  pointer-events: all;
  background-color: transparent;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 1rem !important;
  box-shadow: none !important;
  border-radius: 8px;

  &:hover {
    box-shadow: 0 0 12px #000000 !important;
  }
}

.toaster {
  display: flex;
  color: white;
  background-color: #333333;
  width: 335px;
  min-height: 80px;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}

.custom-toast-success {
  & .toast-color {
    background-color: styles.$success;
  }

  & .toast-icon-container {
    color: styles.$success;
  }
}

.custom-toast-warning {
  & .toast-color {
    background-color: styles.$warning;
  }

  & .toast-icon-container {
    color: styles.$warning;
  }
}

.custom-toast-danger {
  & .toast-color {
    background-color: styles.$danger;
  }

  & .toast-icon-container {
    color: styles.$danger;
  }
}

.custom-toast-info {
  & .toast-color {
    background-color: styles.$info;
  }

  & .toast-icon-container {
    color: styles.$info;
  }
}

.toast {
  &-container {
    margin-top: 10px;
  }

  &-line {
    border-radius: 3px 0 0 3px;
    margin: 0.7rem 0rem 0.7rem 0.5rem;
    width: 0.3rem;
  }

  &-details {
    margin: 0 10px 0 0px;
    display: flex;
    align-items: center;
    width: 200px;
  }

  &-icon-container {
    font-size: 1.5rem;
    margin: auto 1rem auto 0.7rem;
  }

  &-title {
    font-size: 16px;
  }

  &-message {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding-bottom: 4px;

    & a {
      text-decoration: none;
      color: red !important;
    }

    & a:hover {
      color: styles.$theme !important;
    }
  }

  &-progress {
    margin-top: auto;
    background-color: cyan;
    margin: 0;
    border-radius: 0 8px 8px 8px;
  }

}

.custom-close-icon {
  & {
    .custom-toast-close-button {
      color: #999;
      opacity: 1;
      text-decoration: none;
      padding: 0;
      font-size: 1rem;
      font-weight: 100;
      height: min-content;

      &:hover {
        color: styles.$theme;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  ::ng-deep .toast-top-right {
    top: 60px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }

  :host {
    margin-top: 0.5rem !important;
  }
}
