<div class="container my-5">
    <div class="row">
      <div *ngIf="(shopItem$ | async) as shopItem" class="col-lg-6 offset-lg-3">
        <form class="default-form animate__animated animate__fadeInUp animate__faster" #shopItemForm="ngForm"
          (ngSubmit)="onUpdate(shopItem)">

          <div *ngIf="shopItem.id" class="form-group">
            <app-floating-label-input
              [(inputModel)]="shopItem.id"
              [type]="'text'"
              [name]="'#'"
              [labelContent]="'Id'"
              [disabled]="true"
              [required]="false"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #titleInput
              [(inputModel)]="shopItem.title"
              [type]="'text'"
              [name]="'title'"
              [labelContent]="'Title'"
              [pattern]="'^.{3,20}$'"
              [validGuide]="'Atleast 3 characters!'"
              (isValidEvent)="getValidationData($event)"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              [(inputModel)]="shopItem.image"
              [type]="'text'"
              [name]="'image'"
              [labelContent]="'Image link'"
              [validGuide]="'Please enter a link!'"
              (isValidEvent)="getValidationData($event)"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #priceInput
              [(inputModel)]="shopItem.price"
              [type]="'number'"
              [name]="'price'"
              [labelContent]="'Price'"
              [pattern]="'^(?:0|[1-9][0-9]{0,5})$'"
              [validGuide]="'0 - 999999'"
              (isValidEvent)="getValidationData($event)"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #colorInput
              [(inputModel)]="shopItem.color"
              [inputClass]="'color__input'"
              [type]="'color'"
              [name]="'color'"
              [labelContent]="'Color'"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              [(inputModel)]="shopItem.description"
              [type]="'description'"
              [name]="'text'"
              [labelContent]="'Description'"
              [required]="false"
            ></app-floating-label-input>
          </div>

          <button type="submit" class="game-played btn btn-info col-12 my-3"
            [disabled]="!(titleInput.isValid&&priceInput.isValid&&colorInput.isValid)">
            Save changes
          </button>
        </form>

      </div>
    </div>
  </div>
