<div *ngIf="list$ | async as list" class="wrapper">
  <!-- Search -->
  <!-- <div class="search bg-light border rounded p-3 m-3">
      <div class="fw-bold text-uppercase text-center pb-3">Szűrés oszlopok szerint</div>
      <div class="search d-flex flex-row">
        <span class="fw-bold text-uppercase col-1 pt-2">Oszlop :</span>
        <select class="form-control border col" [(ngModel)]="filterKey">
          <option *ngFor="let key of filterKeys" [value]="[key[0]]">{{key[1]}}</option>
        </select>
        <input [(ngModel)]="phrase" class="filter-search border rounded col-6 px-3 ms-3" type="text"
          placeholder="Keresés . . .">
      </div>
    </div>-->

  <!-- Add new -->
  <div class="m-3">
    <button [routerLink]="['/', entity, '']" type="button"
      class="add__new game-played btn fw-bold text-uppercase col-12 col-xl-10 offset-xl-1">
      <fa-icon class="me-1" [icon]="faUserPlus"></fa-icon>
      Register user
    </button>
  </div>

  <!-- Display options -->
  <section class="col-xl-10 offset-xl-1 d-flex flex-row justify-content-between pe-3 my-4">
    <div class="default-form d-flex flex-column flex-md-row ms-3">
      <div class="d-flex flex-row me-md-3">
        <div class="input__icon__wrapper d-flex align-items-center justify-content-end">
          <fa-icon class="text-center" [icon]="faKey"></fa-icon>
        </div>
        <div class="select__wrapper form-group my-0">
          <select #inputRef [(ngModel)]="filterKey" class="form-select custom-select col-12" name="key" required
            (focus)="keyFocusToggler($event)" (blur)="keyFocusToggler($event)">
            <option selected value=""></option>
            <option value="id">Id</option>
            <option value="username">Username</option>
            <option value="email">Email</option>
            <option value="coins">Coins</option>
            <option value="joinDate">Join date</option>
            <option value="lastOnlineDate">Last online</option>
            <option value="role">Role</option>
            <option value="banned">Banned</option>
          </select>
          <label class="form-label w-100 d-flex align-items-end justify-content-end icon-label">
            <fa-icon class="select__icon" [icon]="faSquareCaretDown"></fa-icon>
          </label>
          <label class="form-label" [class]="keyClass">Key</label>
        </div>
      </div>

      <div class="d-flex flex-row me-md-3 mt-3 mt-md-0">
        <div class="input__icon__wrapper d-flex align-items-center justify-content-end">
          <fa-icon class="text-center" [icon]="faFilter"></fa-icon>
        </div>
        <div class="phrase__wrapper form-group m-0">
          <!-- <input #inputRef [(ngModel)]="phrase" class="form-control" name="phrase" type="text"
            (focus)="phraseFocusToggler($event)" (blur)="phraseFocusToggler($event)">
          <label class="form-label" [class]="phraseClass">Filter</label> -->
          <app-floating-label-input
            [(inputModel)]="phrase"
            [type]="'text'"
            [name]="'phrase'"
            [labelContent]="'Filter'"
            [required]="false"
          ></app-floating-label-input>

        </div>
      </div>
    </div>

    <div class="h-min-content d-flex flex-row mt-auto">
      <div class="input__icon__wrapper d-flex align-items-center justify-content-end ms-3">
        <fa-icon class="text-center" [icon]="faBars"></fa-icon>
      </div>
      <div class="rows__wrapper form-group m-0">
        <!-- <input #inputRef [(ngModel)]="itemsPerPage" class="form-control pe-0" name="rows" type="number"
          (focus)="rowsFocusToggler($event)" (blur)="rowsFocusToggler($event)">
        <label class="form-label" [class]="rowsClass">Rows</label> -->
        <app-floating-label-input
          [(inputModel)]="itemsPerPage"
          [inputClass]="'pe-0'"
          [type]="'number'"
          [name]="'rows'"
          [labelContent]="'Rows'"
          [required]="false"
        ></app-floating-label-input>
      </div>
    </div>
  </section>

  <!-- List -->
  <div class="table-responsive col-xl-10 offset-xl-1 px-3">
    <table class="table table-sm m-0">
      <caption class="text-center game-played">
        List of users
      </caption>
      <thead>
        <tr>
          <th *ngFor="let col of columns; index as i" scope="col" (click)="onColumnSelect(col.key)" draggable="true"
            (dragstart)="dragStartColumn(i)" (dragover)="allowDrop($event)" (drop)="dropColumn(i)"
            [class]="draggingClass">
            <div #thContent class="d-flex flex-row ">
              <fa-icon *ngIf="sortColumn==col.key && direction" class="me-1" [icon]="faArrowDownAZ"></fa-icon>
              <fa-icon *ngIf="sortColumn==col.key && !direction" class="me-1" [icon]="faArrowDownZA"></fa-icon>
              {{col.title}}
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list | filter:phrase:filterKey | sorter:sortColumn:direction
          | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" class="align-middle">
          <ng-container *ngFor="let col of columns; index as i;" draggable="true" (dragstart)="dragStartColumn(i)"
            (dragover)="allowDrop($event)" (drop)="dropColumn(i)">
            <td *ngIf="col.key!=='scores' && col.key!=='shopItems' && col.key!=='friends' && col.key!=='banned'">{{
              user[col.key] }}</td>
            <td *ngIf="col.key==='scores' || col.key==='shopItems' || col.key==='friends'">{{ user[col.key].length }}
            </td>
            <td *ngIf="col.key==='banned'">
              <input [(ngModel)]="user.banned" (change)="checkValue(user.banned ? 'true' : 'false', user.id)"
                type="checkbox" name="" />
            </td>
            <!-- <td>{{ user.scores.length }}</td>
            <td> {{ user.shopItems.length }}</td>
            <td> {{ user.friends.length }}</td> -->
            <!-- <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.joinDate }}</td>
            <td>{{ user.lastOnlineDate }}</td>
            <td>{{ user.scores.length }}</td>
            <td>{{ user.coins }}</td> -->
            <!-- <td> <p *ngFor="let index of user.shopItems">{{ index.title }}</p> </td> -->
            <!-- <td> {{ user.shopItems.length }}</td>
            <td> {{ user.friends.length }}</td>
            <td>{{ user.role }}</td> -->
            <!-- <td>
              <input [(ngModel)]="user.banned" (change)="checkValue(user.banned ? 'true' : 'false', user.id)"
                type="checkbox" name="" />
            </td> -->
            <!-- {{ user.banned }} <br> -->
          </ng-container>
          <td>
            <div class="admin__buttons d-flex flex-row">
              <button (click)="onEditOne(user)" class="m-1 edit__button btn">
                <fa-icon [icon]="faUserPen"></fa-icon>
              </button>
              <button (click)="onDeleteOne(user.id)" class="m-1 delete__button btn">
                <fa-icon [icon]="faUserMinus"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mb-5">
    <pagination-controls class="my-pagination" (pageChange)="p=$event" previousLabel="Prev" nextLabel="Next">
    </pagination-controls>
  </div>

</div>
