<div class="wrapper col-xl-10 offset-xl-1 px-3 px-xl-0">

  <!-- Add new -->
  <div class="">
    <button [routerLink]="['/', entity, '']" type="button"
      class="add__new game-played btn fw-bold text-uppercase w-100 mt-4">
      <fa-icon class="me-1" [icon]="faUserPlus"></fa-icon>
      Register user
    </button>
  </div>

  <!-- Options -->
  <section class="default-form d-flex flex-row justify-content-between my-4">
    <div class="d-flex flex-column flex-md-row">
      <div class="d-flex flex-row me-md-3">
        <div class="input__icon__wrapper d-flex align-items-center justify-content-end">
          <fa-icon class="text-center" [icon]="faKey"></fa-icon>
        </div>
        <div class="select__wrapper form-group my-0">
          <app-floating-label-select
            #coinsInput
            [(selectModel)]="filterKey"
            [name]="'key'"
            [labelContent]="'Key'"
            [doesContainEmpty]="true"
            [options]="{
              username: 'Username',
              email: 'Email',
              coins: 'Coins',
              joinDate: 'Join date',
              lastOnlineDate: 'Last online',
              role: 'Role',
              banned: 'Banned'
            }"
          ></app-floating-label-select>
        </div>
      </div>

      <div class="d-flex flex-row me-md-3 mt-3 mt-md-0">
        <div class="input__icon__wrapper d-flex align-items-center justify-content-end">
          <fa-icon class="text-center" [icon]="faFilter"></fa-icon>
        </div>
        <div class="phrase__wrapper form-group m-0">
          <app-floating-label-input
            [(inputModel)]="phrase"
            [type]="'text'"
            [name]="'phrase'"
            [labelContent]="'Filter'"
            [required]="false"
          ></app-floating-label-input>
        </div>
      </div>
    </div>

    <div class="h-min-content d-flex flex-row mt-auto">
      <div class="input__icon__wrapper d-flex align-items-center justify-content-end ms-3">
        <fa-icon class="text-center" [icon]="faBars"></fa-icon>
      </div>
      <div class="rows__wrapper form-group m-0">
        <app-floating-label-input
          [(inputModel)]="itemsPerPage"
          [inputClass]="'pe-0'"
          [type]="'number'"
          [name]="'rows'"
          [labelContent]="'Rows'"
          [required]="false"
        ></app-floating-label-input>
      </div>
    </div>
  </section>

  <!-- List -->
  <div class="table-responsive">
    <table class="table table-sm m-0">
      <caption class="text-center game-played">
        List of users
      </caption>
      <thead>
        <tr>
          <th *ngFor="let col of columns; index as i" scope="col" (click)="onColumnSelect(col.key)" draggable="true"
            (dragstart)="dragStartColumn(i)" (dragover)="allowDrop($event)" (drop)="dropColumn(i)"
            [class]="draggingClass">
            <div #thContent class="d-flex flex-row ">
              <fa-icon *ngIf="sortColumn==col.key && direction" class="me-1" [icon]="faArrowDownAZ"></fa-icon>
              <fa-icon *ngIf="sortColumn==col.key && !direction" class="me-1" [icon]="faArrowDownZA"></fa-icon>
              {{col.title}}
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="list$ | async as list">
        <tr *ngFor="let user of list | filter:phrase:filterKey | sorter:sortColumn:direction
          | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" class="align-middle">
          <ng-container *ngFor="let col of columns; index as i;" draggable="true" (dragstart)="dragStartColumn(i)"
            (dragover)="allowDrop($event)" (drop)="dropColumn(i)">
            <td *ngIf="col.key!=='scores' && col.key!=='shopItems' && col.key!=='friends' && col.key!=='banned'">{{
              user[col.key] | xPipe:col.pipes:col.pipeArgs }}</td>
            <td *ngIf="col.key==='scores' || col.key==='shopItems' || col.key==='friends'">{{ user[col.key]?.length }}
            </td>
            <td *ngIf="col.key==='banned'">
              <input [(ngModel)]="user.banned" (change)="checkValue(user.banned ? 'true' : 'false', user)"
                type="checkbox" name="" />
            </td>
          </ng-container>
          <td>
            <div class="admin__buttons d-flex flex-row">
              <button (click)="onEditOne(user)" class="m-1 edit__button btn">
                <fa-icon [icon]="faUserPen"></fa-icon>
              </button>
              <button (click)="onDeleteOne(user.id)" class="m-1 delete__button btn">
                <fa-icon [icon]="faUserMinus"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mb-5">
    <pagination-controls class="my-pagination" (pageChange)="p=$event" previousLabel="Prev" nextLabel="Next">
    </pagination-controls>
  </div>

</div>
