<div class="footer-component">

  <!-- <div class="d-flex justify-content-end">
    <button type="button" (click)="toggle()" (click)="goToBottom()"
      class="toggler--button btn btn-secondary ms-auto me-5">Toggle footer</button>
  </div> -->

  <!-- Footer -->
  <footer [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container"
    class="text-center text-lg-start bg-dark">
    <hr class="shadow-hr m-0">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div class="d-flex flex-row">
        <a href="https://github.com/TetrisProjectNet/tetris-project" target="_blank" class="me-3 mb-0 h5" title="Github"
          [popper]="'GitHub'" [popperTrigger]="triggers.hover" [popperPlacement]="placements.TOP" [popperPositionFixed]="true"
          [popperStyles]="popperStyles">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" class="me-3 mb-0 fa-lg" title="LinkedIn"
          [popper]="'LinkedIn'" [popperTrigger]="triggers.hover" [popperPlacement]="placements.TOP" [popperPositionFixed]="true"
          [popperStyles]="popperStyles">
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a href="https://www.twitter.com/" target="_blank" class="me-3 mb-0 fa-lg" title="Twitter"
          [popper]="'Twitter'" [popperTrigger]="triggers.hover" [popperPlacement]="placements.TOP" [popperPositionFixed]="true"
          [popperStyles]="popperStyles">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="me-3 mb-0 fa-lg" title="Instagram"
          [popper]="'Instagram'" [popperTrigger]="triggers.hover" [popperPlacement]="placements.TOP" [popperPositionFixed]="true"
          [popperStyles]="popperStyles">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://www.google.com/" target="_blank" class="fa-lg" title="Google"
          [popper]="'Google'" [popperTrigger]="triggers.hover" [popperPlacement]="placements.TOP" [popperPositionFixed]="true"
          [popperStyles]="popperStyles">
          <fa-icon [icon]="faGoogle"></fa-icon>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section>
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <fa-icon [icon]="faGamepad"></fa-icon> Tetris project
            </h6>
            <p>
              This project is made for Kandó Kálmán IT Technical School by Tamás Kiss, Milán Kurucz & Levente Kovács.
            </p>
            <p>
              Hope you like our app, we worked a lot on it.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Technologies used</h6>
            <p>
              <a href="https://angular.io/" target="_blank"><fa-icon [icon]="faAngular"></fa-icon> Angular</a>
            </p>
            <p>
              <a href="https://learn.microsoft.com/en-us/dotnet/maui/what-is-maui?view=net-maui-7.0" target="_blank"><fa-icon [icon]="faFileCode"></fa-icon> .NET MAUI</a>
            </p>
            <p>
              <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-6.0&tabs=visual-studio"
                target="_blank">
                <fa-icon [icon]="faCode"></fa-icon> ASP.NET Core Web API
              </a>
            </p>
            <p>
              <a href="https://www.mongodb.com/" target="_blank"><fa-icon [icon]="faDatabase"></fa-icon> MongoDB</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Used for style
            </h6>
            <p>
              <a href="https://sass-lang.com/" target="_blank"><fa-icon [icon]="faSass"></fa-icon> SASS/SCSS</a>
            </p>
            <p>
              <a href="https://fontawesome.com/" target="_blank"><fa-icon [icon]="faFontAwesome"></fa-icon> Font Awesome</a>
            </p>
            <p>
              <a href="https://getbootstrap.com/" target="_blank"><fa-icon [icon]="faBootstrap"></fa-icon> Bootstrap</a>
            </p>
            <p>
              <a href="https://www.chartjs.org/" target="_blank"><fa-icon [icon]="faChartPie"></fa-icon> Chart.js</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><fa-icon class="fa-fw" [icon]="faLocationDot"></fa-icon> New York, NY 10012, US</p>
            <p>
              <fa-icon class="fa-fw" [icon]="faEnvelopeOpen"></fa-icon>
              info@example.com
            </p>
            <p><fa-icon class="fa-fw" [icon]="faPhone"></fa-icon> + 01 234 567 88</p>
            <p><fa-icon class="fa-fw" [icon]="faPhone"></fa-icon> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class=" fw-bold" href="https://github.com/TetrisProjectNet/tetris-project" target="_blank">Tetris-project</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
