<div class="footer-component">

  <!-- <div class="d-flex justify-content-end">
    <button type="button" (click)="toggle()" (click)="goToBottom()"
      class="toggler--button btn btn-secondary ms-auto me-5">Toggle footer</button>
  </div> -->

  <!-- Footer -->
  <footer [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container"
    class="text-center text-lg-start bg-dark">
    <hr class="shadow-hr m-0">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://github.com/TetrisProjectNet/tetris-project" #tooltipRef target="_blank" class="me-3 h5"
          data-bs-toggle="tooltip" data-bs-placement="top" title="Github">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/" #tooltipRef target="_blank" class="me-3 fa-lg" data-bs-toggle="tooltip"
          data-bs-placement="top" title="LinkedIn">
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a href="https://www.twitter.com/" #tooltipRef target="_blank" class="me-3 fa-lg" data-bs-toggle="tooltip"
          data-bs-placement="top" title="Twitter">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="https://www.instagram.com/" #tooltipRef target="_blank" class="me-3 fa-lg" data-bs-toggle="tooltip"
          data-bs-placement="top" title="Instagram">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://www.google.com/" #tooltipRef target="_blank" class="fa-lg" data-bs-toggle="tooltip"
          data-bs-placement="top" title="Google">
          <fa-icon [icon]="faGoogle"></fa-icon>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section>
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <fa-icon [icon]="faGamepad"></fa-icon> Tetris project
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Languages</h6>
            <p>
              <a href="https://angular.io/" target="_blank"><fa-icon [icon]="faAngular"></fa-icon> Angular</a>
            </p>
            <p>
              <a href="https://sass-lang.com/" target="_blank"><fa-icon [icon]="faSass"></fa-icon> SASS/SCSS</a>
            </p>
            <p>
              <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank"><fa-icon
                  [icon]="faCode"></fa-icon> C#</a>
            </p>
            <p>
              <a href="https://www.mysql.com/" target="_blank"><fa-icon [icon]="faDatabase"></fa-icon> MySQL</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!">Pricing</a>
            </p>
            <p>
              <a href="#!">Settings</a>
            </p>
            <p>
              <a href="#!">Orders</a>
            </p>
            <p>
              <a href="#!">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><fa-icon class="fa-fw" [icon]="faLocationDot"></fa-icon> New York, NY 10012, US</p>
            <p>
              <fa-icon class="fa-fw" [icon]="faEnvelopeOpen"></fa-icon>
              info@example.com
            </p>
            <p><fa-icon class="fa-fw" [icon]="faPhone"></fa-icon> + 01 234 567 88</p>
            <p><fa-icon class="fa-fw" [icon]="faPhone"></fa-icon> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class=" fw-bold" href="https://github.com/TetrisProjectNet/tetris-project" target="_blank">Tetris-project</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
