@use '../../../styles.scss' as styles;

.toggler--button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.shadow-hr {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0.5em 0;
}

.shadow-hr:before {
  top: -3.5em;
  height: 10em;
}

.shadow-hr:after {
  height: 0.5em;
  top: calc(-0.5em + 0px);
}

.shadow-hr:before,
.shadow-hr:after {
  content: '';
  position: absolute;
  width: 100%;
}


.shadow-hr,
.shadow-hr:before {
  background: radial-gradient(ellipse at center, rgba(styles.$theme, 0.9) 0%, rgba(styles.$black, 0) 75%);
}

body,
.shadow-hr:after {
  background: styles.$white;
}

footer {
  color: styles.$gray;
}

a {
  color: styles.$gray;
  text-decoration: none;

  &:hover {
    color: styles.$white;
    ;
  }
}

.icon-width {
  width: 5rem;
}
