<nav *ngIf="{user: loggedUser$ | async} as loggedObject" class="navbar fixed-top navbar-expand-lg bg-dark" [class]="className">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand active" [routerLink]="['/home']" routerLinkActive="active-link" data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse.show">Home</a>

    <!-- PROFILE DROPDOWN ON SMALL SCREEN -->
    <app-profile-dropdown *ngIf="loggedObject.user && innerWidth<breakpoint" class="ms-auto me-2" [userIconClass]="'fa-lg'"></app-profile-dropdown>

    <button class="navbar-toggler" [class]="loggedObject.user ? '' : 'ms-auto'" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="small py-auto">Menu </span>
      <span class="small bold">
        <fa-icon [icon]="faBars"></fa-icon>
      </span>
    </button>
    <div #collapsing class="collapse navbar-collapse d-lg-flex justify-content-between me-1" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="selenium__shop" [routerLink]="['/shop']" routerLinkActive="active-link" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="selenium__statistics" [routerLink]="['/statistics']" routerLinkActive="active-link"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Statistics</a>
        </li>
        <li *ngIf="!loggedObject.user" class="nav-item" id="selenium__sign__up">
          <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active-link" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Sign-up</a>
        </li>
        <li *ngIf="loggedObject.user?.role=='admin'" class="nav-item" id="selenium__users">
          <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active-link" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Users</a>
        </li>
      </ul>

      <div class="d-flex flex-row">
        <a *ngIf="loggedObject.user" class="nav-item coins d-flex align-items-center me-3" [routerLink]="['/shop']"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
          {{ loggedObject.user.coins }}<fa-icon class="ms-1" [icon]="faCoins"></fa-icon>
        </a>

        <div  *ngIf="!loggedObject.user" class="nav-item content__item my-2 my-lg-0">
          <button class="button button--anthe" id="selenium__login" [routerLink]="['/login']" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">
            <span>
              Login <fa-icon class="login__icon" [icon]="faRightToBracket"></fa-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- PROFILE DROPDOWN ON WIDE SCREEN -->
    <app-profile-dropdown *ngIf="loggedObject.user && innerWidth>=breakpoint" [userIconClass]="'fa-xl'" class="me-2"></app-profile-dropdown>

  </div>
</nav>
