@use '../../../styles.scss' as styles;

.user {
  &-title {
    font-variant: small-caps;
    color: styles.$white;
  }

  &-data {
    color: styles.$white;
  }
}

select {
  position: relative;
  padding: 6px 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid styles.$theme;
  transition: box-shadow 0.3s ease-out;
  z-index: 1;
  color: styles.$white;

  &__wrapper {
    height: min-content;
  }

  &:focus,
  &:active,
  &:target {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    border-bottom: 1px solid styles.$theme;
    box-shadow: 0 6px 7px -7px styles.$theme;
  }

  &:hover {
    cursor: pointer;

    &+.form-label {
      color: styles.$theme;
    }
  }

  &:focus+.form-label {
    color: styles.$theme;
  }
}

option {
  color: styles.$black;
}

.focused {
  transform: translateY(-145%);
  font-size: .75em;
  color: styles.$gray;
}

// ----- TOGGLE BUTTON -----
input[type="checkbox"] {
  margin-left: 4px;
  position: relative;
  width: 3rem;
  height: 1rem;
  appearance: none;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 1rem;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 1.4em;
    width: 5px;
    height: 1.5px;
    background: aqua;
    border-radius: 1px;
    transition: .5s;
  }
}

input:checked[type="checkbox"] {

  &:nth-of-type(1) {
    background: linear-gradient(0deg, #e67e22, #f39c12);
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);
  }

  &:before {
    left: 1rem;
  }

  &:after {
    left: 2.42rem;
  }
}

.summary__toggle {
  color: styles.$white;
  text-decoration: none;

  &:hover fa-icon {
    color: styles.$theme;
  }

  &[aria-expanded=false] .summary__expanded {
    display: none;
  }

  &[aria-expanded=true] .summary__collapsed {
    display: none;
  }
}