<div *ngIf="{user: loggedUser$ | async} as loggedObject" class="container my-5">
  <div class="row">
    <div *ngIf="(user$ | async) as user">
      <main class="d-flex flex-column flex-md-row justify-content-center">
        <!-- User info -->
        <aside *ngIf="user.id" class="user-data verdana col-md-6 p-2">
          <div class="offset-xl-1">
            <h2 class="user-title">
              <fa-icon class="me-3" [icon]="faCircleUser"></fa-icon>{{ user.username }}
            </h2>
            <span class="focused">Joined</span>
            <p>{{ user.joinDate }}</p>
            <span class="focused">Last online</span>
            <p>{{ user.lastOnlineDate }}</p>

            <div class="mb-3">
              <span class="focused">Shop items</span>
              <p class="mb-0">
                <a class="summary__toggle d-flex justify-content-between" data-bs-toggle="collapse" href="#shop-items"
                  role="button" aria-expanded="false" aria-controls="shop-items">
                  <span>Σ {{ user.shopItems?.length || 0 }}</span>
                  <fa-icon class="summary__collapsed" [icon]="faCircleChevronDown"></fa-icon>
                  <fa-icon class="summary__expanded" [icon]="faCircleChevronUp"></fa-icon>
                </a>
              </p>
              <div class="collapse" id="shop-items">
                <ul class="mb-0 mt-3">
                  <li *ngFor="let index of user.shopItems" class="mb-0 mt-0">{{ index.title }}</li>
                </ul>
              </div>
            </div>

            <div class="mb-3">
              <span class="focused">Scores</span>
              <p class="mb-0">
                <a class="summary__toggle d-flex justify-content-between" data-bs-toggle="collapse" href="#scores"
                  role="button" aria-expanded="false" aria-controls="scores">
                  <span>Σ {{ user.scores?.length || 0 }}</span>
                  <fa-icon class="summary__collapsed" [icon]="faCircleChevronDown"></fa-icon>
                  <fa-icon class="summary__expanded" [icon]="faCircleChevronUp"></fa-icon>
                </a>
              </p>
              <p class="collapse" id="scores">
                <span *ngFor="let score of user.scores; index as i" >
                  {{ score }}<span *ngIf="user.scores && i < user.scores.length-1">, </span>
                </span>
              </p>
            </div>

            <div class="mb-3">
              <span class="focused">Friends</span>
              <p class="mb-0">
                <a class="summary__toggle d-flex justify-content-between" data-bs-toggle="collapse" href="#friends"
                  role="button" aria-expanded="false" aria-controls="friends">
                  <span>Σ {{ user.friends?.length || 0 }}</span>
                  <fa-icon class="summary__collapsed" [icon]="faCircleChevronDown"></fa-icon>
                  <fa-icon class="summary__expanded" [icon]="faCircleChevronUp"></fa-icon>
                </a>
              </p>
              <div class="collapse" id="friends">
                {{ user.friends }}
              </div>
            </div>

            <span *ngIf="isAdmin" class="focused">Banned</span>
            <p *ngIf="isAdmin" class="mt-2">
              <input [(ngModel)]="user.banned" (change)="checkValue(user.banned ? 'true' : 'false', user)"
                type="checkbox" name="" />
            </p>
          </div>
        </aside>

        <!-- User edit -->
        <form *ngIf="isAdmin" #userForm="ngForm" (ngSubmit)="onUpdate(user)"
          class="default-form animate__animated animate__fadeInUp animate__faster col-md-6 col-xl-4 offset-xl-1 p-2">

          <div *ngIf="user.id" class="form-group">
            <app-floating-label-input
              [(inputModel)]="user.id"
              [type]="'text'"
              [name]="'#'"
              [labelContent]="'Id'"
              [disabled]="true"
              [required]="false"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #usernameInput
              [(inputModel)]="user.username"
              [type]="'text'"
              [name]="'username'"
              [labelContent]="'Username'"
              [pattern]="'^.{3,15}$'"
              [validGuide]="'Atleast 3 characters!'"
              (isValidEvent)="getValidationData($event)"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #emailInput
              [(inputModel)]="user.email"
              [type]="'email'"
              [name]="'email'"
              [labelContent]="'E-mail'"
              [pattern]="'^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$'"
              [validGuide]="'Must be a valid email address!'"
              (isValidEvent)="getValidationData($event)"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #coinsInput
              [(inputModel)]="user.coins"
              [type]="'number'"
              [name]="'coins'"
              [labelContent]="'Coins'"
              [pattern]="'^(?:0|[1-9][0-9]{0,8})$'"
              [validGuide]="'0 - 999999999'"
              (isValidEvent)="getValidationData($event)"
            ></app-floating-label-input>
          </div>

          <div *ngIf="isAdmin" class="select__wrapper form-group">
            <app-floating-label-select
              #coinsInput
              [(selectModel)]="user.role"
              [name]="'role'"
              [labelContent]="'Role'"
              [options]="{
                admin: 'Admin',
                player: 'Player'
              }"
            ></app-floating-label-select>
          </div>

          <div class="d-flex flex-column">
            <small class="no-acc mt-2"><sup class="red-text">*</sup> Marked fields are required.</small>
          </div>

          <button type="submit" class="game-played btn btn-info col-12 my-4"
            [disabled]="!(usernameInput.isValid&&emailInput.isValid&&coinsInput.isValid)">
            Save changes
          </button>
        </form>

        <form *ngIf="!isAdmin" #userForm="ngForm" (ngSubmit)="onUpdate(user)"
          class="default-form animate__animated animate__fadeInUp animate__faster col-md-6 col-xl-4 offset-xl-1 p-2">

          <div *ngIf="user.id" class="form-group">
            <app-floating-label-input
              [(inputModel)]="user.id"
              [type]="'text'"
              [name]="'#'"
              [labelContent]="'Id'"
              [disabled]="true"
              [required]="false"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #emailInput
              [(inputModel)]="user.email"
              [type]="'email'"
              [name]="'email'"
              [labelContent]="'E-mail'"
              [pattern]="'^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$'"
              [validGuide]="'Must be a valid email address!'"
              (isValidEvent)="getValidationData($event)"
              [disabled]="true"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #coinsInput
              [(inputModel)]="user.coins"
              [type]="'number'"
              [name]="'coins'"
              [labelContent]="'Coins'"
              [pattern]="'^(?:0|[1-9][0-9]{0,8})$'"
              [validGuide]="'0 - 999999999'"
              (isValidEvent)="getValidationData($event)"
              [disabled]="true"
            ></app-floating-label-input>
          </div>

          <div class="form-group">
            <app-floating-label-input
              #usernameInput
              [(inputModel)]="user.username"
              [type]="'text'"
              [name]="'username'"
              [labelContent]="'Username'"
              [pattern]="'^.{3,15}$'"
              [validGuide]="'Atleast 3 characters!'"
              (isValidEvent)="getValidationData($event)"
            ></app-floating-label-input>
          </div>

          <button type="submit" class="game-played btn btn-info col-12 my-3"
            [disabled]="!(usernameInput.isValid&&emailInput.isValid&&coinsInput.isValid)">
            Save changes
          </button>
        </form>
        
      </main>
    </div>
  </div>
</div>
