@use '../../../styles.scss' as styles;

.user {
  &-title {
    font-variant: small-caps;
    color: styles.$white;
  }

  &-data {
    color: styles.$white;
  }
}

.summary__toggle {
  color: styles.$white;
  text-decoration: none;

  &:hover fa-icon {
    color: styles.$theme;
  }

  &[aria-expanded=false] .summary__expanded {
    display: none;
  }

  &[aria-expanded=true] .summary__collapsed {
    display: none;
  }
}
