@use '../../../../styles'as styles;

.dropdown {
  &-item {
    &:hover,
    &:active,
    &:focus {
      color: styles.$theme;
      & fa-icon {
        color: styles.$white;
      }
    }

    &-text {
      padding: 4px 16px 4px 12px;
    }
  }

  & .dropdown-toggle {
    color: styles.$white;

    &::after {
      color: styles.$white;
    }

    &:hover::after {
        color: styles.$theme;
    }

    &:focus::after {
        color: styles.$theme;
    }
  }
}

// ----- LOGIN BUTTON -----
.content__item {
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.content__item::before {
  color: var(--color-number);
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, ".", decimal-leading-zero);
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: styles.$white;
  border: none;
  padding: 0.45rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--anthe {
  // font-family: bely-display, sans-serif;
  font-family: game-played;
  color: styles.$white;
  background: none;
}

.button--anthe::before {
  content: '';
  background: styles.$black;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  border-radius: 10px;
}

.button--anthe:hover::before {
  background: styles.$black;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.button--anthe span {
  display: block;
  mix-blend-mode: difference;
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover span {
  transform: translate3d(-10px, 0, 0);
}

.button--anthe:hover .login__icon {
  color: styles.$theme;
}
