<div *ngIf="loggedUser$ | async as loggedObjet" class="dropdown my-auto">
  <a class="nav-link dropdown-toggle px-0" href="#" id="navbarDarkDropdownMenuLink" role="button"
    data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    <fa-icon class="profile__icon" [class]="userIconClass" [icon]="faCircleUser"></fa-icon>
  </a>
  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
    <li class="my-2">
      <p class="dropdown-item-text text-nowrap">
        <fa-icon class="me-3 fa-lg" [icon]="faUser"></fa-icon>{{ loggedObjet.username }}
      </p>
      <hr class="mx-3">
    </li>
    <li>
      <a class="dropdown-item" [routerLink]="['/user/', loggedObjet.id]" routerLinkActive="active-link">
        <fa-icon class="me-3" [icon]="faUserGear"></fa-icon>
        Profile
      </a>
    </li>
    <li>
      <a class="dropdown-item" [routerLink]="['/privacy-policy']" routerLinkActive="active-link">
        <fa-icon class="me-3" [icon]="faUserShield"></fa-icon>
        Privacy
      </a>
    </li>
    <li class="d-flex justify-content-center">
      <button (click)="logout()" class="button button--anthe mx-3 mt-4 mb-2" [routerLink]="['/home']" data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show" id="selenium__logout">
        <span class="d-flex">
          Logout <fa-icon class="login__icon ms-1" [icon]="faRightFromBracket"></fa-icon>
        </span>
      </button>
    </li>
  </ul>
</div>
