@use '../../../../styles'as styles;

.dropdown {
  &-item {
    &:hover,
    &:active,
    &:focus {
      color: styles.$theme;
      & fa-icon {
        color: styles.$white;
      }
    }

    &-text {
      padding: 4px 16px 4px 12px;
    }
  }

  & .dropdown-toggle {
    color: styles.$white;

    &::after {
      color: styles.$white;
    }

    &:hover::after {
        color: styles.$theme;
    }

    &:focus::after {
        color: styles.$theme;
    }
  }
}
