@use '../../../styles.scss' as styles;

main {
  font-size: 14px;
}

.title {
  & h1 {
    font-size: 40px;
  }
  & p {
    text-transform:uppercase;
    font-size: 20.9px;
  }
}

.admin-view {
  &__wrapper {
    height: 2rem;
  }

  &-label {
    color: styles.$gray;
  }
}

.cards__wrapper {
  margin: 2rem 0 10rem;
}

.card__wrapper {
  position: relative;
}

.card {
  position: relative;
  // height: 330px;
  // width: 210px;
  background: styles.$gold;
  border-radius: 20px;
  overflow: hidden;
  // font-family: game-played;
  // height: 90%;

  & .price {
    transition: text-shadow 0.3s;
  }

  &:hover .price {
    text-shadow: 0px 0px 5px rgba(styles.$theme, 1);
  }
}

.close {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 10;
  background: styles.$red;
  color: styles.$white;
  height: 2.8rem;
  width: 2.8rem;
  border: thin solid styles.$darker;
  // padding: 0.5rem;
  border-radius: 20rem;
  cursor: pointer;
  transition: box-shadow 0.3s, font-size 0.3s;
}

.close:hover {
  box-shadow: 0px 0px 5px 1px styles.$red;
  font-size: larger;
}

.card::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 100%;
  height: 100%;
  background: #171717;
  transform: skewY(352deg);
  transition: 0.5s;
}

// .test {
//   font-size: 100px;
//   color: rgba(styles.$theme, 0.03)
// }


.card:hover::before {
  top: 40%;
  transform: skewY(380deg);
}

.card::after {
  content: "TETRIS";
  position: absolute;
  bottom: 0;
  left: -0;
  font-family: game-played;
  font-weight: 600;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.2);
  padding-left: 2.1rem;
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

/*
.card .imgBox img {
    max-width: 100%;

    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;

}
*/

.card .contentBox {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.title__wrapper {
  height: 3rem;
}

.card .contentBox h3 {
  font-size: 0.8rem;
  color: styles.$white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // width: 100%;
}

.card .contentBox .price {
  font-size: 1rem;
  color: styles.$white;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: game-played;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 0.4rem 1rem;
  margin-top: 0.5rem;
  color: styles.$black;
  text-decoration: none;
  background: styles.$gold;
  border-radius: 30px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 100px;
  width: auto;
}

.add-new__wrapper {
  height: 120px;
  width: auto;
}

.add-new__icon {
  font-size: 3rem;
  transition: color 0.3s, filter 0.3s;
}

.add-new-card {
  & .contentBox .buy {
    margin: 1.625rem 0;
  }

  &:hover .add-new__icon {
    color: styles.$theme;
    filter: drop-shadow(0px 0px 5px rgba(styles.$theme, 1));
  }
}

// ----- TOGGLE BUTTON -----
input[type="checkbox"] {
  margin-left: 4px;
  position: relative;
  width: 3rem;
  height: 1rem;
  appearance: none;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 1rem;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 1.4em;
    width: 5px;
    height: 1.5px;
    background: styles.$theme;
    border-radius: 1px;
    transition: .5s;
  }
}

input:checked[type="checkbox"] {

  &:nth-of-type(1) {
    background: linear-gradient(0deg, #e67e22, #f39c12);
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);
  }

  &:before {
    left: 1rem;
  }

  &:after {
    left: 2.42rem;
  }
}

