// ----- FONT FAMILIES ------
@font-face {
  font-family: tetris;
  src: url(./assets/fonts/Tetris.ttf) format("TrueType");
}
@font-face {
  font-family: championship;
  src: url(./assets/fonts/Championship.ttf) format("TrueType");
}
@font-face {
  font-family: game-played;
  src: url(./assets/fonts/GamePlayed-vYL7.ttf) format("TrueType");
}
@font-face {
  font-family: game-played-outline;
  src: url(./assets/fonts/GamePlayedOutline-wrX8.ttf) format("TrueType");
}
@font-face {
  font-family: montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf) format("TrueType");
}

// ----- VARIABLES ------
$background-color: #212121;
$theme: #00ffff; //#7fff00;
$theme-2: #da70d6;
$ban-color: yellow;
$unban-color: aqua;
$edit-color: green;
$delete-color: red;
$white: #fff;
$black: #000;
$gold: #ffd700;
$gray: #aaa;
$red: #ff0000;

// ----- GLOBAL CLASSES ------
.game-played {
  font-family: game-played;
}

.fa-coins {
  color: $gold;
}
