// ----- FONT FAMILIES ------
@font-face {
  font-family: tetris;
  src: url(./assets/fonts/Tetris.ttf) format("TrueType");
}

@font-face {
  font-family: championship;
  src: url(./assets/fonts/Championship.ttf) format("TrueType");
}

@font-face {
  font-family: game-played;
  src: url(./assets/fonts/GamePlayed-vYL7.ttf) format("TrueType");
}

@font-face {
  font-family: game-played-outline;
  src: url(./assets/fonts/GamePlayedOutline-wrX8.ttf) format("TrueType");
}

@font-face {
  font-family: montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf) format("TrueType");
}

// ----- VARIABLES ------
$background-color: #212121;
$theme: #00ffff; //#7fff00;
$theme-2: #da70d6;
$ban-color: yellow;
$unban-color: green;
$edit-color: aqua;
$delete-color: red;
$white: #fff;
$black: #000;
$darker: #191919;
$dark: #212529;
$gray: #aaa;
$gold: #ffd700;
$silver: #C0C0C0;
$bronze: #b08d57;
$red: #ff0000;

// ----- GLOBAL CLASSES ------
.game-played {
  font-family: game-played;
}

.verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fa-coins {
  color: $gold;
}

.h-min-content {
  height: min-content;
}

.animate__animated {
  visibility: visible !important;
}

.hide-on-init {
  visibility: hidden;
}

.gold-text {
  color: $gold;
}

.silver-text {
  color: $silver;
}

.bronze-text {
  color: $bronze;
}

.default-form {
  & .form {
    &-group {
      font-family: verdana;
      font-size: small;
      margin: 1rem 0;
      position: relative;

      &+.form-group {
        margin-top: 30px;
      }
    }

    // &-control {
    //   position: relative;
    //   padding: 6px 10px;
    //   background: transparent;
    //   box-shadow: none;
    //   -webkit-box-shadow: none;
    //   box-sizing: border-box;
    //   border: none;
    //   border-radius: 0;
    //   border-bottom: 1px solid $theme;
    //   transition: box-shadow 0.3s ease-out;
    //   z-index: 1;
    //   color: $white;

    //   &:active,
    //   &:focus,
    //   &:target {
    //     background: transparent;
    //     border: none;
    //     border-bottom: 1px solid $theme;
    //     -webkit-box-shadow: none;
    //     box-shadow: none;
    //     border-radius: 0;
    //   }

    //   &:focus {
    //     box-shadow: 0 6px 7px -7px $theme;
    //   }

    //   &:-webkit-autofill {
    //     background-clip: text;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: $white;
    //   }

    //   &:disabled {
    //     color: $gray;
    //   }
    // }

    // &-label {
    //   padding: 0 10px;
    //   position: absolute;
    //   left: 0;
    //   top: 0.5rem;
    //   color: $white;
    //   transition: transform 0.3s ease-out, font-size 0.3s ease-out;
    // }
  }
}

.no-acc {
  color: $gray;
  // line-height: 2.5rem;

  & a {
    text-decoration: none;
    color: #ddd;
    &:hover {
      color: $theme;
    }
  }
}
