<!-- <nav class="navbar navbar-expand-lg sticky-top navbar-light py-2 px-5 px-lg-0">
  <div class="col-12 col-lg-8 offset-lg-2 navbar navbar-expand-lg navbar-light py-0 px-5">
      <a class="navbar-brand" [routerLink]="['/']"><span class="hover-white yellow">Start Bootstrap</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="small">Menu</span><span class="navbar-toggler-icon small"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="navlink lato text-uppercase light hover-white mr-lg-3 small text-right"
                  href="#download">Download<span class="sr-only">(current)</span></a>
              <a class="navlink lato text-uppercase light hover-white mr-lg-3 small text-right"
                  href="#features">Features</a>
              <a class="navlink lato text-uppercase light hover-white small text-right" href="#contact">Contact</a>
          </div>
      </div>
  </div>
</nav> -->

<nav class="navbar fixed-top navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand active" [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="small">Menu </span><span class="small bold"><fa-icon [icon]="faBars"></fa-icon></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-between me-lg-3" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop']" routerLinkActive="active-link">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/statistics']" routerLinkActive="active-link">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">More</a>
        </li>
      </ul>

      <div class="nav-item content__item my-2 my-lg-0">
        <button class="button button--anthe" [routerLink]="['/login']"><span>Login <fa-icon class="login__icon" [icon]="faRightToBracket"></fa-icon></span></button>
      </div>


      <!-- <button class="register__button" role="button" [routerLink]="['/login']">
        <span *ngIf="(user$ | async)">Kijelentkezés</span>
        <span *ngIf="!(user$ | async)">Bejelentkezés</span>
      </button> -->

    </div>
  </div>
</nav>


<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">WEBGYM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/workout-type']">Edzéstípusok</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/workout-exercise']">Gyakorlatok</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/calorie-chart']">Kalória táblázat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sport-supplement']">Táplálékkiegészítők</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']">Felhasználók</a>
        </li>
      </ul>

      <button class="register__button" role="button" [routerLink]="['/login']">
        <span *ngIf="(user$ | async)">Kijelentkezés</span>
        <span *ngIf="!(user$ | async)">Bejelentkezés</span>
      </button>

    </div>
  </div>
</nav> -->
