@use '../../../../styles' as styles;

.navbar {
	box-shadow: inset 0 -7px 10px -9px rgba(styles.$theme, 0.8);
	// box-shadow: 0px 0px 30px 0.5px rgba(0, 255, 255, 0.8); //rgba(0,0,0,0.68)
	display: block;
	font-family: game-played;
	transition: box-shadow 0.5s;
}

.navbar-toggler {

	&:focus,
	&:active,
	&-icon:focus {
		outline: none;
		box-shadow: none;
	}
}

// ----- LINKS -----
a {
	text-decoration: none;
	cursor: pointer;

	&:not(:target) {
		color: styles.$white;
	}

	&:hover,
	&:active,
	&:focus,
	&:target {
		// text-shadow: 0px 0px 3px  orchid;
		color: styles.$theme;
		text-shadow: 0px 0px 5px styles.$theme;
	}
}

.active-link {
	color: styles.$theme  !important;
	text-shadow: 0px 0px 5px styles.$theme;

}

.navbar-toggler {
	& span {
		color: styles.$white;
	}

	&-icon {
		stroke: styles.$white;
	}
}

// ----- COINS -----
.coins {
	color: styles.$white;
	font-size: larger;

	&:hover {
		color: styles.$white;
	}
}


// ----- LOGIN BUTTON -----
.content__item {
	margin: 0;
	padding: 0;
	counter-increment: itemcounter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.content__item::before {
	color: var(--color-number);
	position: absolute;
	top: 0;
	left: 0;
	content: counters(itemcounter, ".", decimal-leading-zero);
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: styles.$white;
	border: none;
	padding: 0.45rem 2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--anthe {
	// font-family: bely-display, sans-serif;
	font-family: game-played;
	color: styles.$white;
	background: none;
}

.button--anthe::before {
	content: '';
	background: styles.$black;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
	border-radius: 10px;
}

.button--anthe:hover::before {
	background: styles.$black;
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.button--anthe span {
	display: block;
	mix-blend-mode: difference;
	transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover span {
	transform: translate3d(-10px, 0, 0);
}

.button--anthe:hover .login__icon {
	color: styles.$theme;
}

// ----- ON SCROLL -----
.scroll {
	box-shadow: inset 0 -7px 10px -9px rgba(styles.$theme, 0.8), 0px 0px 30px 0.5px rgba(styles.$theme, 0.8);
}