.navbar {
  box-shadow: inset 0 -7px 10px -9px rgba(0, 255, 255, 0.8), 0px 0px 30px 0.5px rgba(0, 255, 255, 0.8);
  // box-shadow: 0px 0px 30px 0.5px rgba(0, 255, 255, 0.8); //rgba(0,0,0,0.68)
  display: block;
  font-family: game-played;

}

// ----- LINKS -----
a {
  &:not(:target) {
    color: white;
  }
  &:hover, &:active, &:focus, &:target {
    // text-shadow: 0px 0px 3px  orchid;
    color: aqua;
    text-shadow: 0px 0px 5px rgba(0, 255, 255, 1);
  }
}

.active-link {
  color: aqua !important;
  text-shadow: 0px 0px 5px rgba(0, 255, 255, 1);

}

.navbar-toggler {
  & span {
    color: white;
  }
  &-icon {
    stroke: white;
  }
}

// ----- LOGIN BUTTON -----
.content__item {
	margin: 0;
	padding: 0;
	counter-increment: itemcounter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.content__item::before {
	color: var(--color-number);
	position: absolute;
	top: 0;
	left: 0;
	content: counters(itemcounter, ".", decimal-leading-zero);
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
  border: none;
	padding: 0.45rem 2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--anthe {
	// font-family: bely-display, sans-serif;
	font-family: game-played;
	color: #fff;
	background: none;
}

.button--anthe::before {
	content: '';
	background: #000;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  border-radius: 10px;
}

.button--anthe:hover::before {
	background: #000;
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.button--anthe span {
	display: block;
	mix-blend-mode: difference;
	transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover span  {
	transform: translate3d(-10px,0,0);
}

.button--anthe:hover .login__icon {
  color: aqua;
}
