@use '../../../../styles.scss' as styles;


.error-img-container {
  position: relative;
  top: -10px;
  height: 110vh;

  background-image: url("../../../../assets/img/tetris-errors.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  & .block-container {
    display: flex;
    flex-direction: row;

    & .block {
      height: 120px;
      width: 30px;
      background-color: aquamarine;
      margin-left: 100px;
    } 
  }

}


.app-animated-counter__wrapper {
  margin-bottom: 1500px;
}

.content-load {
  height: 300px;
  width: max-content;
  background-color: styles.$gold;
  margin: 0 auto 300px;
}

.item {
  width: 200px;
  height: 200px;
  // margin: 200px auto;
  padding-top: 75px;
  background: #272c60;
  text-align: center;
  color: #de3428;
  font-size: 2em;
}
