<div>
  <div class="app-animated-counter__wrapper">
    <app-animated-counter></app-animated-counter>
  </div>

  <div class="item" data-aos="fade-up">fade-up</div>
  <div class="item" data-aos="fade-down">fade-down</div>

  <div class="item" data-aos="fade-up-right">zoom-in</div>
  <div class="item" data-aos="fade-down-left">zoom-out</div>

  <div class="item" data-aos="flip-up">slide-up</div>

  <div class="item" data-aos="zoom-in-down">flip-right</div>
  <div class="item" data-aos="zoom-out-left">flip-left</div>
</div>
<!-- animateOnScroll animationName="hide-on-init animate__animated animate__backInDown" -->
