<div class="home__wrapper">

  <div  class="error-container">
    <div appParallax [ratio]="0.1" class="parallax__img error-img-5"></div>
    <div appParallax [ratio]="-0.6" class="parallax__tetris tetris-img-5"></div>
    <div appParallax [ratio]="-0.35" class="parallax__img error-img-4"></div>
    <div appParallax [ratio]="-1" class="parallax__tetris tetris-img-4"></div>
    <div appParallax [ratio]="-0.3" class="parallax__img error-img-3"></div>
    <div appParallax [ratio]="-1.3" class="parallax__tetris tetris-img-3"></div>
    <h1 appParallax [ratio]="-0.4" class="error-text display-1 game-played text-center text-white mt-0">tetris project</h1>
    <div appParallax [ratio]="-0.1" class="parallax__img error-img-2"></div>
    <div appParallax [ratio]="-2" class="parallax__tetris tetris-img-2"></div>
    <div appParallax [ratio]="0.1" class="parallax__img error-img"></div>
  </div>

  <!-- SHOP -->
  <section class="shop__wrapper white-text d-flex flex-column flex-lg-row">
    <div class="shop__wrapper__text text-center p-4 d-flex flex-column justify-content-lg-center">
      <div>
        <h2 class="game-played display-2 mt-5 mt-lg-0">tetris-shop</h2>
        <p class="display-6">Buy some awesome skins!</p>
        <p class="mt-5">We high recommend you signing up to be able to purchase items in our shop.</p>
        <button class="gold__buttom" [routerLink]="['/signup']" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
          data-aos-offset="0" data-aos-duration="800">Sign-up!</button>
      </div>
    </div>

    <div class="shop__wrapper__cards">
      <div class="shop__card__wrapper-1" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
        data-aos-offset="60" data-aos-duration="800">
        <img class="shop__card" src="../../../../assets/img/WEBP/colorful-dia-card.webp" alt="Colorful Dia Card">
      </div>
      <div class="shop__card__wrapper-2" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
        data-aos-offset="30" data-aos-delay="200" data-aos-duration="800">
        <img class="shop__card" src="../../../../assets/img/WEBP/blue-dia-card.webp" alt="Blue Dia Card">
      </div>
      <div class="shop__card__wrapper-3" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
        data-aos-offset="0" data-aos-delay="400" data-aos-duration="800">
        <img class="shop__card" src="../../../../assets/img/WEBP/fancy-flower-card.webp" alt="Fancy Flower Blocks">
      </div>
    </div>
  </section>

  <!-- CHANGELOG -->
  <section class="changelog__wrapper white-text d-flex flex-column flex-lg-row">
    <div class="changelog__wrapper__cards d-flex align-items-center justify-content-center">
      <img class="changelog__card" src="../../../../assets/img/WEBP/radar-chart.webp" alt="radar-chart">
    </div>

    <div class="changelog__wrapper__text p-4 pt-0 pt-lg-4">
      <div>
        <h2 class="game-played display-4 mt-lg-5 p-lg-5 ps-lg-0">changelog</h2>
        <p class="display-6">Recent updates</p>
        <h5>28-04-2023</h5>
        <ul class="p-0">
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="0" data-aos-duration="800">
            <span class="new">New</span>
            Radar chart shows players last games compared to the average
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="100" data-aos-duration="800">
            <span class="new">New</span>
            Fancy Flower Blocks added to the shop
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="200" data-aos-duration="800">
            <span class="new">New</span>
            Blue Dia Blocks added to the shop
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="300" data-aos-duration="800">
            <span class="improved">Improved</span>
            Updated Privacy Policy to better represent user rights
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="400" data-aos-duration="800">
            <span class="improved">Improved</span>
            Admin UI
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="500" data-aos-duration="800">
            <span class="fixed">Fixed</span>
            Minor bug fixes in game mechanics
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- BE ADMIN -->
  <!-- <section class="admin__wrapper white-text d-flex flex-column flex-lg-row">

    <div class="admin__wrapper__text p-4 pt-0 pt-lg-4">
      <div>
        <h2 class="game-played display-4 mt-lg-5">apply to be an administrator</h2>
        <p class="display-6">Recent updates</p>
        <h5>28-04-2023</h5>
        <ul class="p-0">
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="0" data-aos-duration="800">
            <span class="new">New</span>
            Radar chart shows players last games compared to the average
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="100" data-aos-duration="800">
            <span class="new">New</span>
            Fancy Flower Blocks added to the shop
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="200" data-aos-duration="800">
            <span class="new">New</span>
            Blue Dia Blocks added to the shop
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="300" data-aos-duration="800">
            <span class="improved">Improved</span>
            Updated Privacy Policy to better represent user rights
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="400" data-aos-duration="800">
            <span class="improved">Improved</span>
            Admin UI
          </li>
          <li data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
            data-aos-offset="0" data-aos-delay="500" data-aos-duration="800">
            <span class="fixed">Fixed</span>
            Minor bug fixes in game mechanics
          </li>
        </ul>
        <a class="gold__buttom" href="mailto:tetrisprojectnet@gmail.com" target="_blank"
          data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
          data-aos-offset="0" data-aos-duration="800">Send email</a>
      </div>
    </div>

    <div class="admin__wrapper__img d-flex align-items-center justify-content-center">
      <img class="admin__img" src="../../../../assets/img/admin-table.png" alt="radar-chart">
    </div>

  </section> -->
