<div>

  <div  class="error-img-container">
    <div appParallax [factor]="9" class="error-img"></div>
    <h1 appParallax [factor]="8" class="error-img-text display-1 game-played text-center text-white mt-0">tetris project</h1>
    <!-- <img src="../../../../assets/img/tetris-errors.jpg" alt=""> -->
    <!-- <div class="block-container"> -->
      <!-- <div appParallax [factor]="9" class="block"></div>
      <div appParallax [factor]="19" class="block"></div>
      <div appParallax [factor]="12" class="block"></div>
      <div appParallax [factor]="8" class="block"></div> -->
    <!-- </div> -->
  </div>
  <!-- <div appParallax [factor]="13" class="block"></div> -->
  
  <!-- <div class="app-animated-counter__wrapper">
    <app-animated-counter></app-animated-counter>
  </div> -->
  
  <div >
    <div class="container-1">
      
    </div>
    
    <div  class="foreground-1">
      
    </div>

    <div class="container-2">
      <div appParallax [factor]="9" class="img"></div>
      <h1 appParallax [factor]="8" class="text display-1 game-played text-center text-white mt-0">it's awesome!</h1>
  
    </div>
  </div>



  <div class="item" data-aos="fade-up">fade-up</div>
  <div class="item" data-aos="fade-down">fade-down</div>

  <div class="item" data-aos="fade-up-right">zoom-in</div>
  <div class="item" data-aos="fade-down-left">zoom-out</div>

  <div class="item" data-aos="flip-up">slide-up</div>

  <div class="item" data-aos="zoom-in-down">flip-right</div>
  <div class="item" data-aos="zoom-out-left">flip-left</div>
</div>
<!-- animateOnScroll animationName="hide-on-init animate__animated animate__backInDown" -->