<div *ngIf="{user: loggedUser$ | async} as loggedObject" class="page__wrapper">

  <div *ngIf="!loggedObject.user" class="not__logged__wrapper d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-4 text-center game-played white-text mb-5 mt-0">please login to see this page!</h1>
    <button class="button button--anthe mb-5" [routerLink]="['/login']" data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse.show" data-aos="fade-in" data-aos-delay="700">
      <span>
        Login <fa-icon class="login__icon" [icon]="faRightToBracket"></fa-icon>
      </span>
    </button>
  </div>

  <div *ngIf="loggedObject.user" class="container d-flex flex-column align-items-center">
    <main>
    <section class="title white-text text-center">
      <h1 class="game-played mt-4 animate__animated animate__backInDown">tetris-stats</h1>
      <p class="" data-aos="zoom-in-up" data-aos-offset="0" data-aos-delay="900">Improve your skills!</p>
    </section>

    <section class="scores__wrapper w-100 mt-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="1000">
      <h2 class="white-text game-played text-center">The best scores of the game</h2>
      <div class="w-100 d-flex flex-column flex-lg-row align-items-center justify-content-center p-4">
        <!-- Single game -->
        <div *ngIf="list$ | async as list" class="col-12 col-md-8 col-lg-4 d-flex align-items-center p-3 mb-5">
          <table class="table table-sm m-0">
            <caption class="text-center game-played">
              Top 5 players
            </caption>
            <thead>
              <tr>
                <th class="text-center" colspan="4">SINGLE GAME</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of list | sorter:'scores':false:5:'single'; index as i">
                <td *ngIf="i == 0" class="text-center py-2">
                  <fa-icon class="fa-lg gold-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i == 1" class="text-center py-2">
                  <fa-icon class="silver-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i == 2" class="text-center py-2">
                  <fa-icon class="fa-sm bronze-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i > 2" class="text-center py-2">
                  <fa-icon class="fa-2xs" [icon]="faStar"></fa-icon>
                </td>
                <td class="py-2">
                  <p class="w-50 mb-0 text-end ">{{ i+1 }}</p>
                </td>
                <td class="py-2">{{ user.username }}</td>
                <td class="py-2">
                  <p class="w-50 mb-0 text-end ">{{ user.scores }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- All games -->
        <div *ngIf="list$ | async as list" class="col-12 col-md-8 col-lg-4 mb-5">
          <table class="table table-sm m-0">
            <caption class="text-center game-played">
              Top 10 players
            </caption>
            <thead>
              <tr>
                <th class="text-center" colspan="4">ALL GAMES</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of list | sorter:'scores':false:10:'all'; index as i">
                <td *ngIf="i == 0" class="text-center py-2">
                  <fa-icon class="fa-lg gold-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i == 1" class="text-center py-2">
                  <fa-icon class="silver-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i == 2" class="text-center py-2">
                  <fa-icon class="fa-sm bronze-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i > 2" class="text-center py-2">
                  <fa-icon class="fa-2xs" [icon]="faStar"></fa-icon>
                </td>
                <td class="py-2">
                  <p class="w-50 mb-0 text-end ">{{ i+1 }}</p>
                </td>
                <td class="py-2">{{ user.username }}</td>
                <td class="py-2">
                  <p class="w-50 mb-0 text-end ">{{ user.scores }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- AVG of games -->
        <div *ngIf="list$ | async as list" class="col-12 col-md-8 col-lg-4 d-flex align-items-center mb-5 p-3">
          <table class="table table-sm m-0">
            <caption class="text-center game-played">
              Top 5 players
            </caption>
            <thead>
              <tr>
                <th class="text-center" colspan="4">AVG OF GAMES</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of list | sorter:'scores':false:5:'avg'; index as i">
                <td *ngIf="i == 0" class="text-center py-2">
                  <fa-icon class="fa-lg gold-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i == 1" class="text-center py-2">
                  <fa-icon class="silver-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i == 2" class="text-center py-2">
                  <fa-icon class="fa-sm bronze-text" [icon]="faStar"></fa-icon>
                </td>
                <td *ngIf="i > 2" class="text-center py-2">
                  <fa-icon class="fa-2xs" [icon]="faStar"></fa-icon>
                </td>
                <td class="py-2">
                  <p class="w-50 mb-0 text-end ">{{ i+1 }}</p>
                </td>
                <td class="py-2">{{ user.username }}</td>
                <td class="py-2">
                  <p class="w-50 mb-0 text-start mx-auto">{{ user.scores }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>

    <!-- RADAR-CHART -->
    <div class="radar__wrapper d-flex justify-content-center align-items-center flex-column" *ngIf="loggedObject.user != null">
      <h2 *ngIf="loggedObject.user.scores!.length >= 7" data-aos="zoom-in-down" data-aos-offset="500" data-aos-delay="50" class="white-text game-played text-center mb-4">
        Your last 7 games compared to the average user's
      </h2>
      <h2 *ngIf="loggedObject.user.scores!.length < 7" data-aos="zoom-in-down" data-aos-offset="500" data-aos-delay="50" class="white-text game-played text-center mb-4">
        If you have played atleast seven games we display your last seven scores here compared to the average user's
      </h2>
      <div *ngIf="loggedObject.user.scores!.length >= 7" #radarRontainer data-aos="zoom-in" data-aos-delay="50"
          data-aos-offset="400" class="col-10 col-md-8 col-lg-4 pb-5">
        <canvas baseChart class="w-100 h-100"
          [type]="'radar'"
          [datasets]="radarChartDatasets"
          [labels]="radarChartLabels"
          [options]="radarChartOptions">
        </canvas>
      </div>
    </div>

    <!-- PIE-CHART -->
    <div class="pie__wrapper d-flex justify-content-center align-items-center flex-column">
      <h2 *ngIf="loaded && pieContainer.classList.contains('aos-animate') && loggedObject.user?.role=='admin'"
        data-aos="zoom-in-down" data-aos-delay="50" class="white-text game-played text-center mb-4">
        skin popularity
      </h2>
      <div #pieContainer class="col-10 col-md-8 col-lg-4 pb-5" data-aos="zoom-in" data-aos-delay="50">
        <canvas *ngIf="loaded && pieContainer.classList.contains('aos-animate') && loggedObject.user?.role=='admin'" baseChart
          class="w-100 h-100"
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>


  </div>
</div>
